<div class="container">
  <h1>Enter in an animal!</h1>
    
    <form action='/animal' method='post' class='get_birthday'>
      <input type='text' name='animal' placeholder="Animal">
      <input type='submit' value='Be prepared to be educated!!!'>
    </form>

<div class="animal_info"></div>

</div>
