<div class="container">
  <h1>A Day in History!</h1>
  <h2>What was happening around the world on the day you were born!</h2>
    <form action='/articles' method='post'class='get_birthday'>
      <input type='text' name='birthday' placeholder='YYYYMMDD'>
      <input type='submit' value='Get news'>
    </form>

</div>
